.login:hover>*,
.Signup:hover>* {
    color: yellow !important;
    cursor: pointer;
}

nav {
    z-index: 10;
    transition: 0.3s ease;
    top: 0%;
}

#logo {
    z-index: 20;
}

@keyframes showNavbar {
    from {
        top: -100%;
    }

    to {
        top: 0px;
    }
}

@keyframes hiddenNavbar {
    from {
        top: 0px;
    }

    to {
        top: -100%;
        position: unset;
    }
}

.nav-item {
    position: relative !important;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}

.nav-item div {
    background-color: rgba(241, 139, 139, 0.688);
    height: 5px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: -100%;
    transition: 0.7s ease-in-out;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.252);
}

.nav-item:hover>.nav-link {
    color: rgba(241, 139, 139, 0.688) !important;
}

.nav-item:hover>div {
    left: 0px;
}
.slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.description {
    position: absolute;
    color: white;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.description span {
    font-size: 1.6rem;
    color: brown;
    opacity: 0%;
    animation: showcontent 1s ease-in-out 1 forwards;
}

.description h1 {
    opacity: 0%;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

.description p {
    opacity: 0%;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

.description button {
    opacity: 0%;
    animation: showcontent 1s ease-in-out 0.9s 1 forwards;
}
.footer_content {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.footer_content>* {
    margin-top: 20px;
}

.footer_content>*:not(:last-child) {
    margin-right: 20px;
}

.footer_detail {
    text-align: center;
    padding: 20px 0px 10px 0px;
    color: rgba(153, 150, 150, 0.693);
    background-color: rgba(18, 18, 18, 0.573);
    border-top: 1px solid white;
}
.top_destination {
    display: grid;
    grid-template-columns: auto auto auto;
}

.destination {
    margin: 0px auto;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.418);
    margin: 10px;
    overflow: hidden;
    transition: 1s ease-in-out;
    position: relative;
}
.slide-show-second{
    width: 100%;
}
.destination>img {
    width: 120px;
    height: 120px;
    opacity: 60%;
}

.destination>p {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 10%;
    display: none;
    font-weight: bold;
}

.destination:hover img {
    cursor: pointer;
    opacity: 100%;
    scale: 1.1;
}

.destination:hover p {
    cursor: pointer;
    display: block;
}

.header-img{
    position: relative;
}
.infor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 75%;
    padding: 50px;
    background-color: #696666;
    color: aliceblue;
}
.recent-work {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.recent-work img{
    margin:5px 5px;
    width: 100px;
    height: 80px;
}
.recent-work img:hover {
    transform: translate(1px, 2px);
    background-color: rgb(158, 136, 136);
    opacity: 70%;
}
.tag-items p{
    padding: 20px;
    border: 1px solid #383838;
    width: fit-content;
    font-weight: bolder;
    margin-right: 5%;
    background-color: rgb(241, 240, 240);
}
.tag-items{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.booking {
    position: sticky;
    top: 20px;
    z-index: 100;
}
.booking h4{
    margin-top: 5%;
    font-size: large;
    font-weight: bolder;
    margin-bottom: 5%;
}

.favorite-slide-item-footer:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.favorite-slide-item-footer {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.favorite-slide-item-info-footer {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
}
.table td a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 666px) {

    .slide-show-three .col-4 {
        width: 100% !important;
        margin: 0px !important;
    }
    .slide-show-three {
        flex-direction: column !important;
        width: 100% !important;
    }

    .favorite-slide-item-footer,
    .favorite-slide-item-footer img {
        width: 100% !important;
    }
    .favorite-slide-item-footer{
        margin-top: 10px;
    }

}
@media only screen and (min-width: 754px) and (max-width: 1000px) {
   .favorite-slide-item-info-footer{
    top: 50px;
   }
}
@media only screen and (min-width: 700px) and (max-width: 754px) {
    .favorite-slide-item-info-footer{
     top:10px;
     transform: translate(0%,30%);
    }
    
    .favorite-slide-item-info-footer a{
        font-size: 0.7rem;
    }
    .favorite-slide-item-info-footer p{
        font-size: 0.5rem;
    }
    .infor{
        padding: 30px !important;
    }
 }
@media only screen and (min-width: 581px) and (max-width: 699px) {
    .slide-show-three {
        width: 100% !important;
        flex-direction: column !important;
    }
    .infor{
        padding: 30px !important;
    }
    .col-4{
       
        margin: 0px !important;
    }
    .favorite-slide-item-footer {
        margin-left: 12px;
        margin-top: 20px;
        width: 250px;
    }
    .slide-show-second{
        width: 100% !important;
        flex-direction: column !important;
        padding: 0px !important;
     }
     .container .my-4{
         max-width:100% !important;
         padding-right: 0px !important;
         margin-left: 20px;
     }
     .container .px-5{
         width: 100% !important;
         padding: 0px !important;
     }
     .col-5{
         width: 100% !important;
     }
}

@media screen and (max-width: 580px) {
    .slider {
        height: 400px;
    }
    .infor{
        padding: 15px !important;
    }

    .slide h1 {
        font-size: 17px;
        margin: 0px;
    }

    .slide p {
        font-size: 8px;
        margin: 0px;
    }

    .dot {
        margin: 0px 5px;
    }

    .top_destination {
        grid-template-columns: auto auto;
    }

    .discount_content p:nth-child(1) {
        font-size: 30px !important;
    }

    .discount_content p:nth-child(2) {
        font-size: 15px !important;
        margin-bottom: 5px !important;
    }

    .discount_content button {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 770px) {
    .slide h1 {
        font-size: 25px;
        margin: 5px;
    }

    .article {
        width: 200px;
        height: 200px;
    }

    .discount_content p:nth-child(1) {
        font-size: 40px !important;
    }

    .discount_content p:nth-child(2) {
        font-size: 20px !important;
    }

    .footer_content {
        grid-template-columns: auto;
    }

    .top_destination {
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media only screen and (min-width: 666x) and (max-width: 739px) {
    .slide-show-second {
        flex-direction: column !important;
        margin-top: 20px;
    }
    .favorite-slide-item-content {
        margin-top: 20px;
        width: 250px;
    }
}

@media only screen and (max-width: 666px) {
    .slide-show-second {
        flex-direction: column !important;
        margin-top: 20px;
    }

    .slide-show-second .col-5 {
        max-width: 100% !important;
    }
    .favorite-slide-item-content {
        margin-top: 20px;
        width: 250px;
    }
}
@media screen and (max-width: 465px) {
    .infor{
        padding: 0px !important;
        font-size: 0.5rem;
    }
}