body {
    margin: 0px;
    padding: 0px;
}

header {
    position: relative;
    height: 100vh;
}

#top_content {
    width: 100%;
    height: 50px;
    background: black;
    position: relative;
    z-index: 10;
    top: 0px;
}

#top_content>* {
    position: absolute;
}

#top_content>*:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
    right: 230px;
}

#top_content>*:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    right: 140px;
}

#top_content>* a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: block;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    transition: 0.4s;
}

#top_content>*:nth-child(1) a:hover {
    background-color: #b4e2f7;
    color: rgb(68, 67, 67);
}

#top_content>*:nth-child(2) a:hover {
    background-color: #d0f7b4;
    color: rgb(68, 67, 67);
}

#showmenu {
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
    display: none;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 40px;
    padding: 10px 12px 10px 10px;
    border-radius: 10px;
    color: white;
}

#showmenu:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#logo {
    width: 25vh;
    border-radius: 40px;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 100px;
}

.mainmenu {
    list-style-type: none;
}

.mainmenu>li {
    position: absolute;
    z-index: 1;
    top: 60px;
    transform: translateY(50%);
}

.mainmenu>li>a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    display: block;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    transition: 0.4s ease-out;
}

.mainmenu>li:nth-child(1) {
    right: 830px;
}

.mainmenu>li:nth-child(2) {
    right: 740px;
}

.mainmenu>li:nth-child(3) {
    right: 570px;
}

.mainmenu>li:nth-child(4) {
    right: 320px;
}

.mainmenu>li:nth-child(4) a{
    background-color: black;
    color: white;
}

.mainmenu>li:nth-child(5) {
    right: 230px;
}

.mainmenu>li:nth-child(6) {
    right: 100px;
}

.mainmenu>li>a:hover {
    background-color: black;
    color: white;
}

.submenu {
    list-style-type: none;
    position: absolute;
    z-index: 1;
    top: 45px;
    left: -40px;
    display: none;
}

.submenu>li {
    width: 170px;
    background-color: rgb(47, 46, 46);
    padding: 10px;
}

.submenu>li>a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
    font-size: 20px;
    transition: 0.4s;
}

.submenu>li>a:hover {
    background-color: white;
    color: black;
}

.mainmenu>li:hover .submenu {
    display: block;
}

#intro_video {
    width: 180vh;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%);
}



footer {
    width: 100%;
    height: 200px;
    background-color: black;
}

.go_back_button {
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    padding: 0;
    font-weight: 800;
    color: rgb(239, 137, 46);
    position: fixed;
    bottom: 40px;
    z-index: 1000;
    right: 40px;
    display: none;
}

.go_back_button a{
    text-decoration: none;
}