* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #b4e2f7;
}

.container {
  margin: 0 auto;
  padding: 50px 0;
  width: 60%;
  min-width: 800px;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
  flex: 5 ;
  background-color: #edf1f4;
  align-items: center;
  justify-content: center;
}

.form h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
  font-weight: bold;
}

.form > label {
  margin: 20px 0 10px 0;
  font-weight: bolder;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
}

.input input {
  background-color: transparent;
  width: 80%;
  height: 6vh;
  border-radius: 10px;
  border: white;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2), inset -10px 10px 10px #fff;
  padding: 0 10px;
  margin: 10px 0;
}

.input input:focus {
  outline: none;
  border: none;
}

.KeepLogin {
  width: 80%;
  padding: 10px 0;
}

.signin {
  width: 80%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #6ccdfa;
  height: 60px;
  border: none;
  box-shadow: 0 6px 0 hsl(200deg 37% 50%), 0 12px 0 rgba(0, 0, 0, .2);
  color: white;
}

.signin img {
  width: 25px;
  margin: 0 5px 0 0;
}

.signin:hover {
  background-color: #b4e2f7;
  box-shadow: 0 2px 0 hsl(200deg 37% 50%), 0 4px 0 rgba(0, 0, 0, .2);
  transform: translateY(3px)
}


.signin:active {
  background-color: #1d70969d;
  box-shadow: 0 2px 0 hsl(200deg 37% 50%), 0 4px 0 rgba(0, 0, 0, .2);
  transform: translateY(3px)
}

.forgot {
  margin-bottom: 20px;
  
}

.forgot a {
  text-decoration: none;
  color: black;
  font-size: small;
}

.google,
.face {
  margin: 10px 0;
}

.face {
  margin-bottom: 30px;
}


.title {
  margin-left: 40px;
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: larger;
}

.title a {
  display: block;
  background-color: #84fa6c;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  box-shadow: 0 4px 0 hsl(100, 37%, 50%), 0 8px 0 rgba(0, 0, 0, .2);
}

.title a:hover {
  background-color: #c9f7b4;
  box-shadow: 0 2px 0 hsl(100, 37%, 50%), 0 4px 0 rgba(0, 0, 0, .2);
  transform: translateY(3px)
}

.title a:active {
  background-color: #55961d9d;
  box-shadow: 0 2px 0 hsl(103, 37%, 50%), 0 4px 0 rgba(0, 0, 0, .2);
  transform: translateY(3px)
}


