* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background_color {
  background-color: #343a40;
  height: 100px;
}
.form_login {
  margin-bottom: 50px;
}
.form_group {
  width: 60%;
  margin: auto;

}
.btn_group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  button {
    flex: 1 0 250px;
    margin: 5px;
    height: 40px;
  }
  .face {
    color: white;
    background-color: #1877f2;
  }
  
  .twitter {
    color: white;
    background-color: black ;
  }

  .google {
    color: black;
    box-shadow: 1px 1px 5px gray;
  }
}

.log_in {
  box-shadow: 1px 1px 5px rgba(23, 23, 23, 0.44);
}