.infor {
    border: 1px de;
}

.favorite-slide-item-footer:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.favorite-slide-item-footer {
    overflow: hidden;
    height: 100%;
}

.body-header img {
    box-shadow: 10px 10px 10px 10px black;
    margin-top: 3%;
    margin-bottom: 3%;
}

.header-img {
    position: relative;
}

.infor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 75%;
    padding: 50px;
    background-color: #696666;
    color: aliceblue;
}

@media only screen and (min-width: 666px) and (max-width: 765px) {
    .slide-show-three {
        flex-direction: column !important;
        width: 100% !important;
    }

    .slide-show-three .col-4 {
        width: 100% !important;
    }

    .favorite-slide-item-footer,
    .favorite-slide-item-footer img {
        width: 98% !important;
    }

    .favorite-slide-item-footer {
        margin-top: 10px;
    }
    .infor{
        padding: 30px !important;
    }
}

@media only screen and (max-width: 666px) {
    .slide-show-three {
        flex-direction: column !important;
        width: 100% !important;
    }

    .slide-show-three .col-4 {
        width: 100% !important;
        margin: 0px !important;
    }

    .favorite-slide-item-footer,
    .favorite-slide-item-footer img {
        width: 98% !important;
    }

    .favorite-slide-item-footer {
        margin-top: 10px;
    }
    .infor{
        padding: 15px !important;
    }
}

@media only screen and (min-width: 581px) and (max-width: 699px) {
    .favorite-slide-item-footer {
        margin-left: 12px;
        margin-top: 20px;
        width: 250px;
    }
}

@media screen and (max-width: 465px) {
    .infor{
        padding: 0px !important;
        font-size: 0.5rem;
    }
}