#info_tour {
    width: 40%;
    height: 40%;
}

.slide_btn {
    transition: 0.3s ease;
    padding: 5px;
    width: 50%;
}

.slide_btn:hover {
    cursor: pointer;
    transform: scale(1.1, 1);
    background-color: rgba(233, 233, 233, 0.286);
    box-shadow: 2px 5px 7px;
}

.slides {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.slide {
    position: absolute;
    width: 100%;
}

.slide:last-child {
    right: -100%;
}

@keyframes show_bank {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

@keyframes hidden_bank {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

@keyframes show_momo {
    from {
        right: -100%;
    }

    to {
        right: 0%;
    }
}

@keyframes hidden_momo {
    from {
        right: 0%;
    }

    to {
        right: -100%;
    }
}

#QRcode_btn {
    background-color: rgba(0, 0, 0, 0.632);
    padding: 5px;
    color: white;
    border-radius: 10px;
    transition: 0.5s ease;
}

#QRcode_btn:hover {
    cursor: pointer;
    background-color: rgba(50, 75, 187, 0.632);
    color: black;
}

.footer_content {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.footer_content>* {
    margin-top: 20px;
}

.footer_content>*:not(:last-child) {
    margin-right: 20px;
}

.footer_detail {
    text-align: center;
    padding: 20px 0px 10px 0px;
    color: rgba(153, 150, 150, 0.693);
    background-color: rgba(18, 18, 18, 0.573);
    border-top: 1px solid white;
}

.top_destination {
    display: grid;
    grid-template-columns: auto auto auto;
}

.destination {
    margin: 0px auto;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.418);
    margin: 10px;
    overflow: hidden;
    transition: 1s ease-in-out;
    position: relative;
}

.destination>img {
    width: 120px;
    height: 120px;
    opacity: 60%;
}

.destination>p {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 10%;
    display: none;
    font-weight: bold;
}

.destination:hover img {
    cursor: pointer;
    opacity: 100%;
    scale: 1.1;
}

.destination:hover p {
    cursor: pointer;
    display: block;
}

@media screen and (max-width: 1200px) {
    .footer_content {
        grid-template-columns: 40% 60%;
    }
}

@media screen and (max-width: 970px) {
    .discount_content p:nth-child(1) {
        font-size: 70px !important;
    }

    .discount_content p:nth-child(2) {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 770px) {
    .footer_content {
        grid-template-columns: auto;
    }

    .top_destination {
        display: grid;
        grid-template-columns: auto auto;
    }

    #Verification {
        width: 80%;
    }

    .slides {
        height: 550px;
    }
}

@media screen and (max-width: 570px) {
    #Verification {
        width: 80%;
    }

    .top_destination {
        grid-template-columns: auto auto;
    }

    .discount_content p:nth-child(1) {
        font-size: 30px !important;
    }

    .discount_content p:nth-child(2) {
        font-size: 15px !important;
        margin-bottom: 5px !important;
    }

    .discount_content button {
        font-size: 10px !important;
    }
}