body>.container-fluid {
    position: relative;
}

.login:hover>*,
.Signup:hover>* {
    color: yellow !important;
    cursor: pointer;
}

.nav-item {
    position: relative !important;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    border-radius: 10px 10px 0px 0px;
}

.nav-item div {
    background-color: rgba(241, 139, 139, 0.688);
    height: 5px;
    position: absolute;
    width: 100%;
    z-index: 10;
    bottom: 0px;
    left: -100%;
    transition: 0.7s ease-in-out;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.252);
}

.nav-item:hover>.nav-link {
    color: rgba(241, 139, 139, 0.688) !important;
}

.nav-item:hover>div {
    left: -0px;
}

.footer_content {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.footer_content>* {
    margin-top: 20px;
}

.footer_content>*:not(:last-child) {
    margin-right: 20px;
}

.footer_detail {
    text-align: center;
    padding: 20px 0px 10px 0px;
    color: rgba(153, 150, 150, 0.693);
    background-color: rgba(18, 18, 18, 0.573);
    border-top: 1px solid white;
}

.top_destination {
    display: grid;
    grid-template-columns: auto auto auto;
}

.destination {
    margin: 0px auto;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.418);
    margin: 10px;
    overflow: hidden;
    transition: 1s ease-in-out;
    position: relative;
}

.destination>img {
    width: 120px;
    height: 120px;
    opacity: 60%;
}

.destination>p {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 10%;
    display: none;
    font-weight: bold;
}

.destination:hover img {
    cursor: pointer;
    opacity: 100%;
    scale: 1.1;
}

.destination:hover p {
    cursor: pointer;
    display: block;
}

@media screen and (max-width: 1194px) {
    .footer_content {
        grid-template-columns: 40% 60%;
    }
}

@media screen and (max-width: 770px) {
    .footer_content {
        grid-template-columns: auto;
    }

    .top_destination {
        display: grid;
        grid-template-columns: auto auto;
    }
}

/* chỉnh phần main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit, sans-serif;
    color: white;
}

main {
    background: #0A0617;
    width: 100%;
    height: fit-content;
    margin: auto;
}

.card_group {
    padding: 20px 0;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: 0.5s;
}

.card .layer {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
}

.card .infor {
    position: absolute;
    bottom: -50%;
    padding: 15px;
    opacity: 0;
    transition: 0.5s bottom, 1.75s opacity;
}

.infor p {
    font-size: 14px;
    margin-top: 3px;
    /* color: #490CCC; */
    color: aliceblue;
}

.infor h1 {
    /* color: #490CCC; */
    color: aliceblue;
}

.infor button {
    padding: 5px;
    background: #490CCC;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 5px;
}

.card:hover,
.card:hover img,
.card:hover .layer {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.418);
    opacity: 80%;

}

.card:hover>.layer {
    opacity: 1;
}

.card:hover>.infor {
    bottom: 0;
    opacity: 1;
}

.card_group:hover>.card:not(:hover) {
    filter: blur(5px);
}

@media screen and (max-width: 768px) {
    .card {
        flex: 1 0 250px;
        /* Đảm bảo rằng các card có cùng kích thước và tự động điều chỉnh */
        max-width: 250px;
        /* Chiều rộng tối đa cho mỗi thẻ card */
        max-height: 250px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        transition: 0.5s;
        cursor: pointer;
    }

    .card_group {
        flex-wrap: wrap;
        /* Cho phép các mục flex tự động xuống dòng khi cần */
    }
}

@media screen and(min-width: 600) {}