/* chỉnh slide show */
.slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: rgba(141, 131, 131, 0.748) !important;
    transition: 0.3s ease-in-out;
    z-index: 3;
}

.prev:hover,
.next:hover {
    color: #3949db !important;
}

.next {
    right: 0px;
}

.dotsbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 0px 10px;
    cursor: pointer;
}

.active,
.dot:hover {
    border-color: #3498db;
    background-color: #26679384;
}

.txt {
    position: absolute;
    color: white;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    transform: translateY(-40%);
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}
.container_slideShow button{
    background-color: #4692E7;
    font-size: 14px;
    padding: 10px;
}
@-webkit-keyframes posi {
    from {
        left: 25%;
    }
    to {
        left: 15%;;
    }
}

@keyframes posi {
    from {
        left: 25%;
    }
    to {
        left: 15%;
    }
}

.txt h1 {
    font-weight: bold;
    margin: 20px 0;
    font-size: 60px;
}

.txt p {
    font-weight: bold;
    font-size: 30px;
}
.txt button{
    font-weight: bolder;
}
.slide img {
    transform: scale(1.3, 1.3);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 25s;
    animation-name: zoomin;
    animation-duration: 25s;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.3, 1.3);
    }
}

@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.3, 1.3);
    }
}

/* chỉnh phần main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit, sans-serif;
}

main {
    background: #0A0617;
    width: 100%;
    height: fit-content;
    margin: auto;
    color: white;

}

.card_group {
    padding: 20px 0;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    background-color: transparent;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: 0.5s;
}

.card .layer {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
}

.card .infor {
    position: absolute;
    bottom: -50%;
    padding: 15px;
    opacity: 0;
    transition: 0.5s bottom, 0.5s opacity;
}

.infor p {
    font-size: 14px;
    margin-top: 3px;
    /* color: #490CCC; */
    color: aliceblue;
}

.infor h1 {
    /* color: #490CCC; */
    color: aliceblue;
}

.infor button {
    padding: 5px;
    background: #490CCC;
    color: aliceblue;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 5px;
}

main .card:hover,
main .card:hover img,
.card:hover .layer {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.418);
    opacity: 80%;

}

.card:hover> .layer {
    opacity: 1;
}

.card:hover> .infor {
    bottom: 0;
    opacity: 1;
}

.card_group:hover>.card:not(:hover) {
    filter: blur(5px);
}

@media screen and (max-width: 768px) {
    main .card {
        flex: 1 0 250px;
        /* Đảm bảo rằng các card có cùng kích thước và tự động điều chỉnh */
        max-width: 250px;
        /* Chiều rộng tối đa cho mỗi thẻ card */
        max-height: 250px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        transition: 0.5s;
        cursor: pointer;
    }

    .card_group {
        flex-wrap: wrap;
        /* Cho phép các mục flex tự động xuống dòng khi cần */
    }
    .txt h1 {
        margin: 20px 0;
        font-size: 30px;
    }
    .txt p {
        font-size: 20px;
    }
}

@media screen and(min-width: 600) {
    
}
/* chỉnh slideshow page end */
.slideShowEnd .card .card-body h4 .card-body p{
    opacity: 1;
    color: #0A0617;
    z-index: 1;
}
.slideShowEnd .card:hover{
    opacity: 90%;
}
.caurousel .card {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    scroll-snap-align: start;
}
.card-img-top {
    width: 100%;
    height: auto;
}
.card-body {
    padding: 20px;
    background-color: white;
}
.price_son {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price h3 {
    margin: 0;
}
.rating {
    margin-top: 10px;
}
.discount {
    margin-top: 10px;
}
.slideShowEnd-all{
    background-image: url("../IMAGE/price-img/page-title-background.jpg");
    opacity: 90%;
    position: relative;
}
.slideShowEnd .btn {
    margin-top: 10px;
}
.caurousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/3)-12px);
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.caurousel::-webkit-scrollbar{
    display: none;
}
.caurousel .no-transition{
    scroll-behavior: auto;

}
.caurousel .dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.caurousel .dragging .card{
    cursor: grab;
    user-select: none;
}
.slideShowEnd {
    overflow: hidden;
    max-width: 1100px;
    width: 100%;
    padding: 2rem 0;
}
.slideShowEnd .card:hover img{
    transform: scale(1.1);
}
@media screen and (max-width:900px) {
    .slideShowEnd{
        height: 30%;
    }
    .slideShowEnd .caurousel{
        grid-auto-columns: calc((100%/2)-9px);
        height: 10%;
    }
    .caurousel .card {
       height:100%;
       font-size: 10px;
    }
}
@media screen and (max-width:600px) {
    .slideShowEnd .caurousel{
        grid-auto-columns: calc((100%/3)-30px);
    }

}
.pprev{
    position: absolute;
    top: 50%;
    font-weight: bolder;
    left: 10px;
    font-size: 40px;
    cursor: pointer;
    background-color: #3498db;
  }
.nnext{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    background-color: #3498db;

}