* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

@media (max-width: 768px) {
  body {
      font-size: 14px; 
  }
}

p {
  font-size: 1em;
}

.content {
  display: flex;
}

aside {
  flex: 2;
  border: none;
  position: sticky;
  top: 50px;
}

section {
  flex: 8;
}

tr td {
  min-width: 90px;
}

@media screen and (max-width: 768px) {
  aside {
    flex: 0;
  }

  section {
    flex: 1;
  }
}

#btnoffcanvas {
  position: fixed;
  top: 50px;
}

.title .title_content {
  width: 75%;
  float: left;
}
.title .avatar {
  float: right;
  width: 20%;
  font-size: 4em;
}