/* ------------------------- */
/* chỉnh main */
@media (max-width: 768px) {
  body {
      font-size: 14px; 
  }
}

p {
  font-size: 1em;
}

.content {
  display: flex;
}

aside {
  flex: 3;
  border: none;
  position: sticky;
  top: 50px;
}

.select_content {
  border: 1px solid rgb(235, 232, 232);
  margin: 40px;
}

section {
  flex: 7;
}

tr td {
  min-width: 90px;
}

#btnoffcanvas {
  position: fixed;
  top: 50px;
}

.title .title_content {
  width: 75%;
  float: left;
}
.title .avatar {
  float: right;
  width: 20%;
  font-size: 4em;
}

.address{
  max-width: 1000px;
  margin: 10px auto;
  padding: 20px;
  background-color: #EEEEEE;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  position: relative;
}
.address{
  transition: transform 0.3s ease-in-out;
}
.address:hover {
  transform: scale(1.05);
  transform: translateY(-5px); 
  transform: translateX(-5px);
  box-shadow: 0 4px 30px #c2b4b4; 
}
a{
  text-decoration: none;
}
.done{
  color: #CC9933;
}
.information p{
 margin: 20px 0;
}
.title{
  font-size: 20px;
  font-weight: bolder;
}
h3{
  font-size: 25px;
  font-weight: bolder;
  max-width: 1000px;
  margin:0 auto;
  margin-top: 30px;
}
.address .priceAndOrder{
  position: absolute;
  right: 20px;
  top: 40px;
}
.priceAndOrder .order_again{
  margin-top: 50px;
  width: fit-content;
  padding: 10px;
  background-color: red;
  border-radius: 10px;
  color: aliceblue;
  font-weight: lighter;
  font-size: 20px;
  animation: changeColorForOrder 3s infinite alternate;
}

@keyframes changeColorForOrder {
  0% {
      background-color: red;
  }
  25% {
      background-color: red;
  }
  50% {
      background-color: orange;
  }
  75% {
      background-color: blue;
  }
  100% {
      background-color: blue;
  }
}

.priceAndOrder .order_again:hover{
  background-color: #66CCFF;

}

.address_img img {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 10px;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}
.address:hover img{
  transform: scale(1.1);
}

@media screen and (max-width: 1350px) {
  .priceAndOrder h2{
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .priceAndOrder{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  aside {
    flex: 0;
  }

  section {
    flex: 1;
  }
}

@media screen and (max-width: 550px) {
  .information>p{
    margin: 10px 0px 10px 0px;
  }
}


@media screen and (max-width: 430px) {
  section {
    width: 70%;
  }

  table {
    font-size: 11px;
  }

  .avatar {
    width: 5%;
  }

  .title_content h1{
    font-size: 20px;
  }

  .title_content p {
    font-size: 15px;
  }
}