* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background_color {
  background-color: #343a40;
  height: 100px;
}

.form_login {
  margin-bottom: 50px;
}

.form_group {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .group {
    padding: 0 10px;
    flex: 1 0 250px;
  }
}

.group p {
  font-size: small;
}

.btn_group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;

  button {
    flex: 1 0 230px;
    margin: 5px;
    height: 40px;
  }

  .face {
    color: white;
    background-color: #1877f2;
  }

  .twitter {
    color: white;
    background-color: black;
  }

  .google {
    color: black;
    box-shadow: 1px 1px 5px gray;
  }
}
/* alert */
#errorAlert {
  display: none;
  position: fixed;
  top: 65px;
  right: 0;
  width: 20vw;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  #errorAlert {
    display: none;
    position: fixed;
    top: 90px;
    right: 0;
    width: 80vw;
    font-size: 1.3rem;
  }
  
}

.move-right {
  animation: moveRight 1s forwards;
}

.move-left {
  animation: moveLeft 2s forwards;
}

@keyframes moveRight {
  from {
    right: -100vw;
  }
  to {
    right: 0; 
  }
}

@keyframes moveLeft {
  from {
    right: 0
  }
  to {
    right: -100vw;
  }
}

/* End alert */