@media only screen and (min-width: 768px) and (max-width: 1025px) {
    .formnav input,
    .formnav select,
    .formnav button {
        width: 100%;
    }
    .Slide .col-10{
        width: 80% !important;
        margin-left: 10% !important;
    }
    .Slide .col-9 .col-5{
        margin-left: 6% !important;
    }
    .Slide .col-9 .col-5 img{
        width: 100% !important;
        border-radius: 10px !important;
    }
    .col-9{
        width: 80% !important;
    }
    .body-center-if p{
        font-size: 1.5rem !important;
    }
    .body-center-js p{
        margin-left: 45px !important;
    }
    .body-center-js h3{
        margin-left: 20px !important;
    }
    .body-center-if>*{
        margin-left: 0px !important;
    }
    .body-center-js{
        border-left: none !important;
        margin-left: 205px;
    }
    .body-center-footer{
        margin-right: 0px !important;
        margin-left: 50px !important;
    }
    .body-center,.body-center-content{
        flex-direction: column !important;

    }

    .body-center-img{
        width: 100% !important;
        
    }
    .footer-manager {
        display: inline-block;
        width: 400% !important;
    }
    .sa {
        order: 1 !important;
    }

    .as {
        order: 2 !important;
    }
    .footer_content {
        grid-template-columns: 40% 60%;
    }
    .col-8{
        width: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
    }
    .col-10{
        margin: 0px !important;
    }
    .col-9{
        margin: 0px !important;
        width: 90% !important;
    }
    .body-center .col-5{
        margin: 0px !important;
        width: 100% !important;
    }
    .container-fluid .container .row{
        width: 100%;
        margin-left: 1px;
    }
    .infor{
        margin-left: 38%;
    }
    .body-center-content .col-3 p{
        margin-left: 50% !important;
    }
    .body-center-content .col-3 h3{
        margin-left: 33% !important;
    }
    .body-center-content .col-3 button{
        margin-left: 35% !important;
    }
    
}

@media only screen and (min-width: 431px) and (max-width: 768px) {
    .formnav li {
        width: 20%;
    }

    .formnav input,
    .formnav select,
    .formnav button {
        width: 100%;
    }
    .Slide .col-9 .col-5 img{
        border-radius: 10px !important;
    }
    .Slide .col-9 .col-5{
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .col-8{
        width: 90% !important;
        margin: 0px !important;
        margin-left: 6% !important;
    }
    .col-10{
        margin: 0px !important;
    }
    .col-9{
        margin: 0px !important;
        width: 100% !important;
    }
    .body-center .col-5{
        margin: 0px !important;
        width: 100% !important;
    }
    .formnav input,
    .formnav a {
        padding: 0px !important;
        height: 40px;
    }

    .formnav a {
        font-size: 0.6rem !important;
        height: 20px;
    }

    .nav-item select option {
        font-size: 0.6rem;
    }

    .formnav {
        flex-direction: row !important;

    }
    .body-center img{
        width: 516px !important;
    }
    .body-center,
    .body-center-content {
        flex-direction: column !important;
        width: 100% !important;
    }


    .body-center-img {
        width: 100% !important;
    }

    .formnav input[type="search"],
    .formnav input[type="date"],
    .formnav select,
    .formnav button {
        height: 30px;
        font-size: 0.8rem;
        padding: 5px;
    }

    .formnav .nav-item {
        flex: 1;
        text-align: center;
        margin: 5px !important;

    }

    .body-center-manger {
        width: 100%;
    }

    .formnav li {
        padding: 0px !important;
    }


    .a_search {
        margin: 0px !important;
    }

    .bt_search {
        margin: 0px !important;
    }

    .boxsadow_nav {
        margin-top: 25%;
        margin-left: 2px;
    }
    
    .body-center-content .col-3{
        margin: 0px !important;
        width: 100% !important;
        border-left: none !important;
    }
    .body-center-content .col-3 p{
        margin-left: 42% !important;
    }
    .body-center-content .col-3 h3{
        margin-left: 36% !important;
    }
    .body-center-content .col-3 button{
        margin-left: 29% !important;
    }
    .body-center-footer {
        
        padding:23px  !important;
        text-align: center !important;
    }

    .footer-manager {
        width: 100%;
    }

    .sa {
        order: 1 !important;
    }

    .as {
        order: 2 !important;
    }

    .text-light {}

    .infor {
        margin-left: 40px !important;
        margin-bottom: 40px !important;
    }

    .infor h6 {
        margin-bottom: 0px !important;
    }
    .container-fluid .container .row{
        width: 100% !important;
    }
    .col-4{
        width: 100% !important;
    }
}
@media only screen and (max-width: 431px) {
    .formnav li {
        width: 20%;
    }

    .formnav input,
    .formnav select,
    .formnav button {
        width: 100%;
    }
    .Slide .col-9 .col-5 img{
        border-radius: 10px !important;
    }
    .Slide .col-9 .col-5{
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .col-8{
        width: 90% !important;
        margin: 0px !important;
        margin-left: 6% !important;
    }
    .col-10{
        margin: 0px !important;
    }
    .col-9{
        margin: 0px !important;
        width: 100% !important;
    }
    .body-center .col-5{
        margin: 0px !important;
        width: 100% !important;
    }
    .formnav input,
    .formnav a {
        padding: 0px !important;
        height: 40px;
    }

    .formnav a {
        font-size: 0.6rem !important;
        height: 20px;
    }

    .nav-item select option {
        font-size: 0.6rem;
    }

    .formnav {
        flex-direction: row !important;

    }
    .body-center img{
        width: 516px !important;
    }
    .body-center,
    .body-center-content {
        flex-direction: column !important;
        width: 100% !important;
    }


    .body-center-img {
        width: 100% !important;
    }

    .formnav input[type="search"],
    .formnav input[type="date"],
    .formnav select,
    .formnav button {
        height: 30px;
        font-size: 0.8rem;
        padding: 5px;
    }

    .formnav .nav-item {
        flex: 1;
        text-align: center;
        margin: 5px !important;

    }

    .body-center-manger {
        width: 100%;
    }

    .formnav li {
        padding: 0px !important;
    }


    .a_search {
        margin: 0px !important;
    }

    .bt_search {
        margin: 0px !important;
    }

    .boxsadow_nav {
        margin-top: 25%;
        margin-left: 2px;
    }
    
    .body-center-content .col-3{
        margin: 0px !important;
        width: 100% !important;
        border-left: none !important;
    }
    .body-center-content .col-3 p{
        margin-left: 40% !important;
    }
    .body-center-content .col-3 h3{
        margin-left: 32% !important;
    }
    .body-center-content .col-3 button{
        margin-left: 25% !important;
    }

    .body-center-footer {
        
        padding:23px  !important;
        text-align: center !important;
    }

    .footer-manager {
        width: 100%;
    }

    .sa {
        order: 1 !important;
    }

    .as {
        order: 2 !important;
    }

    .footer_content {
        grid-template-columns: auto;
    }

    .top_destination {
        display: grid;
        grid-template-columns: auto auto;
    }

    .text-light {}

    .infor {
        margin-left: 40px !important;
        margin-bottom: 40px !important;
    }

    .infor h6 {
        margin-bottom: 0px !important;
    }
    .col-4{
        width: 100% !important;
    }
}




