
.login:hover>*,
.Signup:hover>* {
    color: yellow !important;
    cursor: pointer;
}

#logo {
    z-index: 20;
}

nav {
    z-index: 10;
    transition: 0.3s ease;
    top: 0%;
}

@keyframes showNavbar {
    from {
        top: -100%;
    }
    to {
        top: 0px;
    }
}

@keyframes hiddenNavbar {
    from {
        top: 0px;
    }
    to {
        top: -100%;
        position: unset;
    }
}

.nav-item {
    position: relative !important;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}

.nav-item div {
    background-color: rgba(241, 139, 139, 0.688);
    height: 5px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: -100%;
    transition: 0.7s ease-in-out;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.252);
}

.nav-item:hover>.nav-link {
    color: rgba(241, 139, 139, 0.688) !important;
}

.nav-item:hover>div {
    left: 0px;
}
.body-center-content{
    border-radius: 10px;
}
.body-center-content:hover{
    transform: scale(1.1);
}
.body-center-content:hover{
    transition: transform 0.2s ease-in-out;
}
.latest-tour{
    overflow: hidden;
    border-radius: 5px;
}
.latest-tour:hover img{
    transform: scale(1.2);
}
.latest-tour:hover img{
    transition: transform 0.3s ease-in-out;
}
.nav-item {
    position: relative !important;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}

.nav-item div {
    background-color: rgba(241, 139, 139, 0.688);
    height: 5px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: -100%;
    transition: 0.7s ease-in-out;
}

.Slide {
    display: none;
}

.active {
    display: block;
    background: none;
}

.btn_function>* {
    padding: 10px 15px;
    background-color: #1d262f;
    color: white;
    border-radius: 50%;
}

#pre {
    display: none;
}

.btn_function span:hover{
    cursor: pointer;
    background-color: rgba(47, 50, 47, 0.479);
    color: black;
}


@media only screen and (min-width: 768px) and (max-width: 1025px) {
    .formnav input,
    .formnav select,
    .formnav button {
        width: 100%;
    }
    .Slide .col-10{
        width: 80% !important;
        margin-left: 10% !important;
    }
    .Slide .col-9 .col-5{
        margin-left: 6% !important;
    }
    .Slide .col-9 .col-5 img{
        width: 100% !important;
        border-radius: 10px !important;
    }
    .col-9{
        width: 80% !important;
    }
    .body-center-if p{
        font-size: 1.5rem !important;
    }
    .body-center-js p{
        margin-left: 45px !important;
    }
    .body-center-js h3{
        margin-left: 20px !important;
    }
    .body-center-if>*{
        margin-left: 0px !important;
    }
    .body-center-js{
        border-left: none !important;
        margin-left: 205px;
    }
    .body-center-footer{
        margin-right: 0px !important;
        margin-left: 50px !important;
    }
    .body-center,.body-center-content{
        flex-direction: column !important;

    }

    .body-center-img{
        width: 100% !important;
        
    }
    .footer-manager {
        display: inline-block;
        width: 400% !important;
    }
    .sa {
        order: 1 !important;
    }

    .as {
        order: 2 !important;
    }
    .footer_content {
        grid-template-columns: 40% 60%;
    }
    .col-8{
        width: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
    }
    .col-10{
        margin: 0px !important;
    }
    .col-9{
        margin: 0px !important;
        width: 90% !important;
    }
    .body-center .col-5{
        margin: 0px !important;
        width: 100% !important;
    }
    .container-fluid .container .row{
        width: 100%;
        margin-left: 1px;
    }
    .infor{
        margin-left: 38%;
    }
    .body-center-content .col-3 p{
        margin-left: 50% !important;
    }
    .body-center-content .col-3 h3{
        margin-left: 33% !important;
    }
    .body-center-content .col-3 button{
        margin-left: 35% !important;
    }
    
}
.footer_content {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.footer_content >* { 
    margin-top: 20px;
}

.footer_content >*:not(:last-child) {
    margin-right: 20px;
}

.footer_detail {
    text-align: center;
    padding: 20px 0px 10px 0px;
    color: rgba(153, 150, 150, 0.693);
    background-color: rgba(18, 18, 18, 0.573);
    border-top: 1px solid white;
}
@media only screen and (min-width: 431px) and (max-width: 768px) {
    .formnav li {
        width: 20%;
    }

    .formnav input,
    .formnav select,
    .formnav button {
        width: 100%;
    }
    .Slide .col-9 .col-5 img{
        border-radius: 10px !important;
    }
    .Slide .col-9 .col-5{
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .col-8{
        width: 90% !important;
        margin: 0px !important;
        margin-left: 6% !important;
    }
    .col-10{
        margin: 0px !important;
    }
    .col-9{
        margin: 0px !important;
        width: 100% !important;
    }
    .body-center .col-5{
        margin: 0px !important;
        width: 100% !important;
    }
    .formnav input,
    .formnav a {
        padding: 0px !important;
        height: 40px;
    }

    .formnav a {
        font-size: 0.6rem !important;
        height: 20px;
    }

    .nav-item select option {
        font-size: 0.6rem;
    }

    .formnav {
        flex-direction: row !important;

    }
    .body-center img{
        width: 516px !important;
    }
    .body-center,
    .body-center-content {
        flex-direction: column !important;
        width: 100% !important;
    }


    .body-center-img {
        width: 100% !important;
    }

    .formnav input[type="search"],
    .formnav input[type="date"],
    .formnav select,
    .formnav button {
        height: 30px;
        font-size: 0.8rem;
        padding: 5px;
    }

    .formnav .nav-item {
        flex: 1;
        text-align: center;
        margin: 5px !important;

    }

    .body-center-manger {
        width: 100%;
    }

    .formnav li {
        padding: 0px !important;
    }


    .a_search {
        margin: 0px !important;
    }

    .bt_search {
        margin: 0px !important;
    }

    .boxsadow_nav {
        margin-top: 25%;
        margin-left: 2px;
    }
    
    .body-center-content .col-3{
        margin: 0px !important;
        width: 100% !important;
        border-left: none !important;
    }
    .body-center-content .col-3 p{
        margin-left: 42% !important;
    }
    .body-center-content .col-3 h3{
        margin-left: 36% !important;
    }
    .body-center-content .col-3 button{
        margin-left: 29% !important;
    }



    .body-center-footer {
        
        padding:23px  !important;
        text-align: center !important;
    }

    .footer-manager {
        width: 100%;
    }

    .sa {
        order: 1 !important;
    }

    .as {
        order: 2 !important;
    }

    .footer_content {
        grid-template-columns: auto;
    }

    .top_destination {
        display: grid;
        grid-template-columns: auto auto;
    }

    .text-light {}

    .infor {
        margin-left: 40px !important;
        margin-bottom: 40px !important;
    }

    .infor h6 {
        margin-bottom: 0px !important;
    }
    .container-fluid .container .row{
        width: 100% !important;
    }
    .col-4{
        width: 100% !important;
    }
}
@media only screen and (max-width: 431px) {
    .formnav li {
        width: 20%;
    }

    .formnav input,
    .formnav select,
    .formnav button {
        width: 100%;
    }
    .Slide .col-9 .col-5 img{
        border-radius: 10px !important;
    }
    .Slide .col-9 .col-5{
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .col-8{
        width: 90% !important;
        margin: 0px !important;
        margin-left: 6% !important;
    }
    .col-10{
        margin: 0px !important;
    }
    .col-9{
        margin: 0px !important;
        width: 100% !important;
    }
    .body-center .col-5{
        margin: 0px !important;
        width: 100% !important;
    }
    .formnav input,
    .formnav a {
        padding: 0px !important;
        height: 40px;
    }

    .formnav a {
        font-size: 0.6rem !important;
        height: 20px;
    }

    .nav-item select option {
        font-size: 0.6rem;
    }

    .formnav {
        flex-direction: row !important;

    }
    .body-center img{
        width: 516px !important;
    }
    .body-center,
    .body-center-content {
        flex-direction: column !important;
        width: 100% !important;
    }


    .body-center-img {
        width: 100% !important;
    }

    .formnav input[type="search"],
    .formnav input[type="date"],
    .formnav select,
    .formnav button {
        height: 30px;
        font-size: 0.8rem;
        padding: 5px;
    }

    .formnav .nav-item {
        flex: 1;
        text-align: center;
        margin: 5px !important;

    }

    .body-center-manger {
        width: 100%;
    }

    .formnav li {
        padding: 0px !important;
    }


    .a_search {
        margin: 0px !important;
    }

    .bt_search {
        margin: 0px !important;
    }

    .boxsadow_nav {
        margin-top: 25%;
        margin-left: 2px;
    }
    
    .body-center-content .col-3{
        margin: 0px !important;
        width: 100% !important;
        border-left: none !important;
    }
    .body-center-content .col-3 p{
        margin-left: 40% !important;
    }
    .body-center-content .col-3 h3{
        margin-left: 32% !important;
    }
    .body-center-content .col-3 button{
        margin-left: 25% !important;
    }



    .body-center-footer {
        
        padding:23px  !important;
        text-align: center !important;
    }

    .footer-manager {
        width: 100%;
    }

    .sa {
        order: 1 !important;
    }

    .as {
        order: 2 !important;
    }

    .footer_content {
        grid-template-columns: auto;
    }

    .top_destination {
        display: grid;
        grid-template-columns: auto auto;
    }

    .text-light {}

    .infor {
        margin-left: 40px !important;
        margin-bottom: 40px !important;
    }

    .infor h6 {
        margin-bottom: 0px !important;
    }
    .col-4{
        width: 100% !important;
    }
}




