.row {
    padding: 3% 0;
    position: relative;
    /* border-bottom: 1px solid #e6e6e6; */
}
.text p{
    color: #817a7a;
}
.recent-work {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.recent-work img{
    margin:5px 5px;
    width: 100px;
    height: 80px;
}
.recent-work img:hover {
    transform: translate(1px, 2px);
    background-color: rgb(8, 1, 1);
    opacity: 70%;
}
.tag-items p{
    padding: 20px;
    border: 1px solid #383838;
    width: fit-content;
    font-weight: bolder;
    margin-right: 5%;
    background-color: rgb(241, 240, 240);
}
.tag-items{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.booking {
    position: sticky;
    top: 20px;
    z-index: 100;
}
.booking h4{
    margin-top: 5%;
    font-size: large;
    font-weight: bolder;
    margin-bottom: 5%;
}
.favorite-slide-item-footer:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.favorite-slide-item-footer {
    overflow: hidden;
    height: 100%;
    position: relative;
}
.favorite-slide-item-info-footer {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

@media only screen and (max-width: 666px) {
    .slide-show-three .col-4 {
        width: 100% !important;
        margin: 0px !important;
    }
    .slide-show-three {
        flex-direction: column !important;
        width: 100% !important;
    }

    .favorite-slide-item-footer,
    .favorite-slide-item-footer img {
        width: 100% !important;
    }
    .favorite-slide-item-footer{
        margin-top: 10px;
    }
}

@media only screen and (min-width: 666x) and (max-width: 739px) {
    .slide-show-three {
        flex-direction: column !important;
        width: 400px !important;
    }
    .favorite-slide-item-footer {
        margin-left: 12px;
        margin-top: 20px;
        width: 250px;
    }
}